[submodule "MobileNetApp-MLKit"]
	path = MobileNetApp-MLKit
	url = https://github.com/tucan9389/MobileNetApp-MLKit.git
[submodule "PoseEstimation-CoreML"]
	path = PoseEstimation-CoreML
	url = https://github.com/tucan9389/PoseEstimation-CoreML
[submodule "PoseEstimation-MLKit"]
	path = PoseEstimation-MLKit
	url = https://github.com/tucan9389/PoseEstimation-MLKit
