<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>657127744686-suhm4m5fcldpejkggsirvh1ncmqnq2kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657127744686-suhm4m5fcldpejkggsirvh1ncmqnq2kr</string>
	<key>API_KEY</key>
	<string>AIzaSyDhoWzSd8lvpSrhMxZf0xe9JaUO_pAL0tk</string>
	<key>GCM_SENDER_ID</key>
	<string>657127744686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tucan9389.mobilenetapp-mlkit</string>
	<key>PROJECT_ID</key>
	<string>mobilenetapp-mlkit</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilenetapp-mlkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657127744686:ios:5d3ef111a315df1c</string>
	<key>DATABASE_URL</key>
	<string>https://mobilenetapp-mlkit.firebaseio.com</string>
</dict>
</plist>